<div id="<%= dom_id post %>"class="w-full bg-[var(--post-background)] rounded-xl shadow-xs overflow-hidden border border-black/10 dark:border-white/10">
  <%= render "posts/post/header", post: post %>
  <div class="px-6 py-4">
    <%= render "posts/post/content", post: post, full_details: local_assigns[:full_details] %>
    <div class="py-2">
      <%= render "posts/post/footer", post: post, full_details: local_assigns[:full_details] %>
    </div>
  </div>
</div>
