<% content_for :title, "New Event" %>
<%= render 'layouts/error' %>
<%= render 'layouts/notice' %>
<div class="mt-2 w-full flex flex-col items-center">
  <h1 class="text-3xl !font-[Bricolage_Grotesque] text-[var(--typography-black)] font-light dark:text-white tracking-tight italic rounded-sm bg-[var(--highlighter-yellow)] px-2 justify-start">new event incoming!</h1>
  <br>
  <%= render "form", post: @post %>
</div>