<!-- Note: You will likely need to replace all the min-h-[600px] with a min-h-screen -->
<div class="flex h-screen flex-col relative overflow-hidden" data-controller="sidebar" data-sidebar-storage-key-value="basicSidebar">
  <%= render "layouts/components/sidebar/mobile_sidebar_overlay" %>
  <%# Webpage Sidebar %>
  <div class="relative z-0 flex h-full !font-[Unbounded] text-sm !font-semibold">
    <div class="relative flex h-full flex-row">
      <details class="w-13 open:w-64 group/sidebar relative z-20 h-full shrink-0 overflow-hidden border-r border-neutral-200 bg-[var(--post-background)] max-md:hidden motion-safe:transition-all motion-safe:duration-300 dark:border-neutral-800 dark:bg-neutral-900" data-sidebar-target="desktopSidebar">
        <%= render "layouts/components/sidebar/tiny_sidebar" %>
        <%= render "layouts/components/sidebar/full_sidebar" %>
      </details>
    </div>
  </div>
</div>